@font-face {
    font-family: 'Chard';
    src: url('../fontes/Chard-BF6860b73cc3309.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chard';
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;

}

.container{
    position: relative;
    width: 350px;
    height: 550px;
}

.container:hover .flip{
    transform: rotateY(180deg);

}

.flip{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;

    transform-style: preserve-3d;
    transition: 0.7s;
}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

    backface-visibility: hidden;
}

.front{
    background-image: none;
    background-size: cover;
}

.back{
    background-color: aquamarine;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: bisque;
}

